#fondo {
    background-color: lightskyblue;
    opacity: 0.6;
    height: 70px;
    background-image: url("C:/Users/Usuario/Alejandra_Miranda_Eva1/gorra_graduacion.avif");
    background-position: 5%;
    background-size: 50px 50px;
    background-repeat: repeat-x;
}

#Titulo {
    color: blueviolet;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#Titulos {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}


.texto {
    color: red;
    text-align: justify;
    font-family: "Courier New", Courier, monospace;
}

.cita {
    color: orange;
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
}